/*GENERAL*/
.post {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    margin-top: 10px;
}

.feed {
    display: flex;
    flex-direction: column; 
    margin-top: 11px;
    margin-left: 30px;
}
/*HEADER du post*/

.post_header {
    display: flex;

    align-items: center;
    width: 500px;

    margin-left: 10px;
}

.post_header_contenue {
    margin-left: 15px;
}

.post_header_logo {
    width: 45px;
    height: 45px;

    border-radius: 50%;
}

.post_header_contenue_pseudo {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;
    color: #000000DE;
}

.post_header_contenue_time-post {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #00000061;
}

/*DESCRIPTION du post*/

.post_description {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21.33px;
    text-align: left;
    color: #00000099;

    margin-left: 10px;
    margin-right: 5px;
}

/*FOOTER du post*/

.post_footer_like{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 5px;
}

.post_footer_like_logo {
    width: 20px;
    height: 18px;
}

.post_footer_comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.post_footer_comment_logo {
    width: 18px;
    height: 17px;
}

.post_footer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: #FBFBFB;

    border: 1px solid #DBDBDB;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.post_footer_comment_text {
    margin-left: 5px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #BDBDBD;
}

.post_footer_like_text {
    margin-left: 5px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #BDBDBD;
}